{% extends 'base_siec_przemyslowa.html' %}
{% load static %}
{% block production_lines_stylesheet_css %}
<link rel="stylesheet" href="{% static 'css/machines_production_lines.css' %}">
{% endblock %}

{% block title %}
LINIE PRODUKCYJNE
{% endblock %}

{% block header %}
<img src="{% static 'images/katcon_logo.png' %}" alt="Logo firmy" style="height:60px;"> 
<h1>SPIS MASZYN- LINIA PRODUKCYJNA </h1>
{% endblock %}

{% block content %}

<table class="machines-table">
    <thead>
        <tr>
            <th>Nazwa maszyny</th>
            <th>Linia produkcyjna</th>
            <th>Opis</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>
    </thead>
    <tbody>
        {% for maszyna in data %}
        <tr>
            <td> <a href="{% url 'wyswietl_urzadzenia_maszyny_produkcyjnej' maszyna.Maszyna_nazwa%}">{{ maszyna.Maszyna_nazwa }}</a></td>
            <td>{{ maszyna.Linia_produkcyjna }}</td>
            <td>{{ maszyna.Opis }}</td>
            <td> <a href="{% url 'edytuj_maszyne_produkcyjna_form' maszyna.id %}">Edytuj</a></td>
            <td> <a href="{% url 'usun_maszyne_produkcyjna' maszyna.id %}">Usuń</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table> 

<a href="{% url 'home_page' %}" class="btn button_back_to_main">
    Strona główna
</a>

<a href="{% url 'wyswietl_linie_produkcyjne' %}" class="btn button_class_back">
    Powrót
</a>

{% endblock %}