{%extends 'base.html'%}
{% load static %}

{% load django_bootstrap5 %}
{%block title%}
MIGRACJA DANYCH-USTAWIENIA

{%endblock%}

{%block header%}
<a href="{% url 'home_page' %}">
<img src="{% static 'images/katcon_logo.png' %}" alt="Logo firmy" style="height:60px;"> 
</a>
{%endblock%}

{%block content%}
<h1>MIGRACJA DANYCH</h1>
</br>
    <a href="{% url 'aktualizuj_github' %}" class="btn button_class_bazadanych">
        MIGRACJA GITHUB
    </a>
    <a href="{% url 'aktualizuj_bazy_danych' %}" class="btn button_class_bazadanych">
        MIGRACJA BAZY DANYCH
    </a>
</br>
</br>
{%if message_github or result_make_migrations_stdout or result_make_migrations_sderr or result_migrate_stdout or result_migrate_stderr%}
    <h3>KOMUNIKATY:</h3>
    {%if message_github %}
        <p>Komunikat github: {{message_github}}</p>    
    {%endif%}
    {%if result_make_migrations_stdout %}
        <p>Komunikat makemigrations: {{result_make_migrations_stdout}}</p> 
    {%endif%}
    {%if result_make_migrations_sderr %}
        <p>Komunikat błędu makemigrations: {{result_make_migrations_sderr}}</p> 
    {%endif%}
    {%if result_migrate_stdout %}
        <p>Komunikat migrate: {{result_migrate_stdout}}</p> 
    {%endif%}
    {%if result_migrate_stderr %}
        <p>Komunikat error migrate: {{result_migrate_stderr}}</p> 
    {%endif%}
{%endif%} 
{%endblock%}