{% extends 'base_printers.html' %}
{% load static %} 
{% load django_bootstrap5 %}

{%block title%}
DRUKARKI ETYKIET-BAZA DANYCH-DODAWANIE NOWEJ DRUKARKI
{%endblock%}

{%block header%}
<a href="{% url 'home_page' %}">
<img src="{% static 'images/katcon_logo.png' %}" alt="Logo firmy" style="height:60px;"> 
</a>
{%endblock%}

{%block content%}
<h1>APLIKACJA DRUKARKI ETYKIET-BAZA DANYCH-DRUKARKI</h1>
<h3>DODAJ DRUKARKĘ:</h3>
<form  method="post">
    {% csrf_token %}
    {{ form.as_p }}
    </br>
    <input type="submit" value="Dodaj nową drukarkę">
</form>
</br>
</br>
<a href="{% url 'printers_home_page' %}" class="btn button_back_to_main">
    Powrót
</a>
{%endblock%}