{% extends 'base_printers.html' %}
{% load static %} 
{% load django_bootstrap5 %}

{%block title%}
DRUKARKI ETYKIET
{%endblock%}

{%block header%}
<a href="{% url 'home_page' %}">
<img src="{% static 'images/katcon_logo.png' %}" alt="Logo firmy" style="height:60px;"> 
</a>
{%endblock%}

{%block content%}
<h1>APLIKACJA DRUKARKI ETYKIET-BAZA DANYCH</h1>
<h3>Drukarki Etykiet-Menu</h3>
<div class="options-box">
    
    <a href="{% url 'database_printers_page' %}" class="btn button_class_bazadanych">
        BAZA DANYCH-DRUKARKI ETYKIET
    </a>
</div>

<h3>Etykiety-Menu</h3>
<div class="options-box">
    <a href="{% url 'database_labels' %}" class="btn button_class_bazadanych">
        BAZA DANYCH-ETYKIETY
    </a>
    <a href="" class="btn button_class_bazadanych">
        WYDRUKUJ ETYKIETE
    </a>
</div>
    
</br>
<a href="{% url 'main_page_application' %}" class="btn button_class_home">
    POWRÓT DO STRONY GŁÓWNEJ
</a>
{%endblock%}