{% extends 'base_siec_przemyslowa.html' %}
{% load static %}
{% block production_lines_stylesheet_css %}
<link rel="stylesheet" href="{% static 'css/machines_production_lines.css' %}">
{% endblock %}

{% block title %}
STEROWNIKI PLC LISTA
{% endblock %}

{% block header %}
<img src="{% static 'images/katcon_logo.png' %}" alt="Logo firmy" style="height:60px;"> 
<h1>SPIS STEROWNIKOW PLC</h1>
{% endblock %}

{% block content %}

<table class="machines-table">
    <thead>
        <tr> 
            <th>Ip adres</th>
            <th>Nazwa profinet</th>
            <th>Rack</th>
            <th>Slot</th>
            <th>Typ sterownika</th>
            <th>Status Połączenia</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>
    </thead>
    <tbody>
        {% for sterownik in sterowniki %}
        <tr>
            <td>{{ urzadzenie.Ip_Adres }}</a></td>
            <td>{{ urzadzenie.Profinet_name }}</a></td>
            <td>{{ urzadzenie.Rack }}</td>
            <td>{{urzadzenie.get_Typ_sterownika_display}}</td>
            <td>{{urzadzenie.Maszyna_produkcyjna}}</td>
            <td> 
                {% if urzadzenie.Status_Polaczenia %}
                    🟢 Online
                {% else %}
                    🔴 Offline
                {% endif %}
            </td>
            <td>
                <a href="">Edytuj Sterownik</a>
            </td>
            <td>
                <a href="">Usuń Sterownik</a>
            </td>
            </tr>
        {% endfor %}
    </tbody>
</table> 

<a href="{% url 'home_page' %}" class="btn button_back_to_main">
    Strona główna
</a>

<!--<a href="{% url 'wyswietl_linie_produkcyjne' %}" class="btn button_class_back">-->
<a href="{% url 'wyswietl_linie_produkcyjne' %}" class="btn button_class_back"> 
    Powrót
</a>

{% endblock %}