.production-table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px auto;
    background: white;
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
}

.production-table th {
    background: #0056b3;
    color: white;
    padding: 14px;
    text-align: left;
}

.production-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.production-table tr:nth-child(even) {
    background: #f5f5f5;
}

.production-table tr:hover {
    background: #dbeeff;
}

.button_class_back
{
    background-color: rgb(30, 253, 0); color:rgb(0, 0, 0); display: inline-block; width: auto;
}

.button_class_back:hover
{
    background-color: rgb(252, 102, 2); color:rgb(0, 0, 0); display: inline-block; width: auto;
}